article {
    margin: 40px 0;
    background-color: #f9e8e8;
    border: 2px solid #6e7d93;
    border-radius: 10px
}

article header {
    display: flex;
    background-color: #bde1f9;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

article img.avatar {
    flex-grow: 0;
}

article h3.fullname {
    flex-grow: 1;
    margin: 5px 0 10px 10px;

}

article p.username{
    margin: 5px 0 10px 10px;

}

article p.contents {
    overflow-wrap: break-word;
    padding: 5px 15px;
}

article footer {
    display: flex;
    background-color: #f9e8e8;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #6e7d93;
    padding: 8px;
}

article footer p {
    margin: 5px;
    flex-grow: 1;
}

.icons {
    margin: 6px;
    flex-grow: 0;
    opacity: 0;
}

article .icons i {
        margin: 3px;
    }

article:hover .icons{
 opacity: 1;
}

.heart-clicked {
    color:red;
}

.heart-unclicked {
    color:black;
}

article footer[foo=3]{
    background-color:red;
}

